.container {
  display: flex;
  padding: 7rem 10rem;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: safe;
}
.password {
  width: 445px;
  height: 48px;
  /* UI Properties */
  border: 1px solid #0000001f;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 20px;
  display: flex;
}

.password:focus-within {
  border: 2px solid black;
}

.password input {
  width: 350px;
  height: 43px;
  border: none;
  margin: 0;
  padding: 10px;
}

.password input:focus {
  outline: none;
}

.heading {
  width: 112px;
  height: 31px;
  text-align: left;
  font: normal normal medium 22px/33px Poppins;
  letter-spacing: 0px;
  color: #f58220;
  opacity: 1;
  margin-bottom: 15px;
}

.para {
  width: 350px;
  height: 143px;
  /* UI Properties */
  color: var(--unnamed-color-000000de);
  text-align: left;
  line-height: 1.5rem;
  color: #000000de;
}

.rightContainer {
  text-align: left !important;
}
.sign-in-heading {
  width: 170px;
  height: 28px;
  /* UI Properties */
  color: var(--unnamed-color-000000de);
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #000000de;
  opacity: 1;
  margin-bottom: 25px;
}

.label {
  width: 222px;
  height: 20px;
  font-size: 16px;
  /* UI Properties */
  color: #00000099;
  margin-bottom: 10px;
}

.loginbutton {
  width: 445px;
  height: 48px;
  background: #0000001f 0% 0% no-repeat padding-box;
  border-radius: 8px;
}
